<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.nombre }}: ${{ producto.precio }}
                <a href="/editar/{{ producto.nombre }}/{{ producto.precio }}">Editar</a>
                <a href="/eliminar/{{ producto.nombre }}" onclick="return confirm('¿Seguro que quieres eliminarlo?')">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>